<br>
<br>
<br>
<br>
<br>
<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">
<h1>  
	<p style="color:white">
	Advice is Awesome!!!
</h1>

<br>
	<button type="button" class="btn btn-info"><%= link_to 'Launch', 'quotes' %>
		</button>

	<%= link_to 'Launch', quotes_path, :class => 'btn btn-primary' %>	

	
<br>
<br>

</div>