<br>
<br>
<br>
<br>
<br>
<br>
<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">	
	<h1>
		The best life tips...
	</h1>
	
	<h2>
		
		<p style="color:white">
		"	<%= @quote.saying %> 
		"
	</h2>
	<p>
		<%= @quote.author %>
	</p>

<button type="button" class="btn btn-info"><%= link_to 'More Advice', 'quotes/new' %>
		</button>
	


</div>